.movie-info {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.featured {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;
}

.featured-left {
  width: 60%;
}
.featured-right {
  font-size: 2rem;
  width: 50%;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.featured-icon {
  font-size: 0.8rem;
  font-size: 1.1vw;
  font-weight: 800;
}
.featured-title {
  /* font-size: 1.8rem; */
  font-size: 2.3vw;
  font-weight: 800;
}

.featured-desc {
  font-weight: 500;
  font-size: 1.27vw;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genres {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.genre-item {
  font-size: 1.3vw;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.521);
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.2s !important;
  cursor: pointer;
}

.genre-item:hover {
  font-weight: 700;
  transform: scale(1.1);
  transition: 0.2s;
}

.movie-card-container {
  display: flex;
  justify-content: space-evenly;
}

.movie-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 9.5vw;
  border-radius: 1rem;
  background: rgba(10, 67, 255, 0.2);
  transition: 0.7s;
}

.movie-card:hover {
  background: rgba(10, 67, 255, 1);
  transition: 0.7s;
  cursor: help;
}

.movie-card[data-color="1"] {
  cursor: pointer;
  background: rgba(128, 0, 0, 0.5) !important;
  transition: 0.7s;
}
.movie-card[data-color="1"]:hover {
  background: rgba(128, 0, 0, 1) !important;
  transition: 0.7s;
}
.movie-info-play {
  font-size: 5rem;
}
.movie-card-title {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
}

.movie-card-title[data-style="capital"] {
  text-transform: uppercase;
}

.movie-card-desc {
  text-align: center;
  font-weight: 200;
}

.movie-info-container {
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 1rem;
  margin: 2rem;
  height: 100%;
}

.movie-info-desc {
  height: 100%;
  display: flex;
  gap: 3rem;
  padding: 1rem 3rem;
}
.movie-info-title {
  font-size: 1.5rem;
}

.movie-info-item {
  width: 6vw;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.movie-info-item-img {
  border-radius: 1rem;
}

.company-logo {
  border-radius: 0 !important;
}
.movie-info-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.movie-info-item-desc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 200;
  font-size: 1rem;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 0;
  transition: max-height 0.4s ease;
  overflow: hidden;
}

.video {
  margin-top: 3rem;
}

.popular {
  height: 15.07vw;
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

.revealed {
  max-height: 540px;
  transition: max-height 0.4s ease;
}
.card {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  flex-shrink: 0;
  width: 300px;
  width: 23.7vw;
  height: 169px;
  height: 13.4vw;
  border-radius: 2rem;
  /* padding: 1rem; */
  font-weight: 700;
  display: flex;
  align-items: end;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 2rem 0 2rem 2rem;
  padding: 0.5rem 1.4rem;
}

.title {
  font-weight: 700;
  padding: 1rem 0 0 2rem;
}
