.nav {
  position: fixed;
  top: 0;
  display: flex;
  /* background: linear-gradient(to bottom, #00000086, #00000013); */
  justify-content: space-between;
  /* position: absolute; */
  top: 0;
  width: 100vw;
  padding: 0 2rem;
  z-index: 100;
  transition: 0.5s;
}

.nav-scroll {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.master {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* padding-bottom: 2rem; */
  transition: background 1s ease !important;
}

.container {
  background: linear-gradient(to bottom, #00b4d848, #00b4d825),
    url("../assets/root_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--ascent);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgb(237, 229, 255);
  font-size: 20rem;
}

.reg {
  flex-direction: row;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
}

.search-icon {
  font-size: 1.5rem;
}

.nav-item {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.search input {
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: rgba(143, 143, 143, 0.3);
  width: 50vw;
}

.search input:focus {
  outline: 1px solid var(--ascent);
}

.toggle {
  display: flex;
}
.toggle button {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.7rem 0 0 0.7rem;
  /* padding: 0.98rem; */
  background-color: rgba(143, 143, 143, 0.3);
}

.toggle button[data-toggle="true"] {
  background-color: var(--ascent);
  color: black;
}

.toggle button:nth-child(1) {
  border-radius: 0.7rem 0 0 0.7rem;
}

.toggle button:nth-child(2) {
  border-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.toggle button:nth-child(3) {
  border-radius: 0 0.7rem 0.7rem 0;
}

.test {
  position: absolute;
  top: 4vw;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  gap: 0.5rem;
}

.nav-scroll .test {
  top: 3.5vw;
}

.x {
  width: 100%;
  height: 100vh;
}

.menu-item {
  cursor: pointer;
}
.menu-item:hover {
  color: var(--ascent);
}

.popular {
  height: 15.07vw;
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

.arrow-container {
  height: 0;
}
.title {
  font-weight: 700;
  padding: 1rem 0 0 2rem;
}
.arrow {
  height: 4.2vw;
  width: 4.2vw;
  border-radius: 50%;
  border: none;
  font-size: 3vw;
  position: relative;
  z-index: 10;
  top: 5vw;
  background-color: #00b4d834;
  transition: 0.5s;
  font-weight: 700;
}
.arrow:hover {
  background-color: #00b4d8;
  transition: 0.5s;
}

.left-arrow {
  left: 3.5vw;
}

.right-arrow {
  left: 90vw;
}

.card {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  flex-shrink: 0;
  width: 300px;
  width: 23.7vw;
  height: 169px;
  height: 13.4vw;
  border-radius: 2rem;
  /* padding: 1rem; */
  font-weight: 700;
  display: flex;
  align-items: end;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 2rem 0 2rem 2rem;
  padding: 0.5rem 1.4rem;
}

.people-card {
  height: 278px;
  width: 185px;
}

.test1 {
  height: 100vh;
}

.results-container {
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.activity {
  display: flex;
  flex-direction: column;
}

.page-header {
  padding-top: 6vw;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      #000000c2 0%,
      #00000013 30%,
      #00000000 50%,
      #0c192133 60%,
      #0c192169 70%,
      var(--bg) 100%
    ),
    url("../assets/root_bg.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.page-header * {
  cursor: pointer;
}

.act {
  padding: 1rem 2rem;
  flex-wrap: wrap;
  height: fit-content;
}

.genre-type-change {
  font-size: 1rem;
  cursor: pointer;
}

.no-results-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-results {
  width: 60vw;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.no-results-container a {
  margin-top: 2rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--ascent);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.search {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
