.nav {
  position: fixed;
  top: 0;
  display: flex;
  /* background: linear-gradient(to bottom, #00000086, #00000013); */
  justify-content: space-between;
  /* position: absolute; */
  top: 0;
  width: 100vw;
  padding: 0 2rem;
  z-index: 10;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3.2rem;
}

.master {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding-bottom: 2rem; */
}

.featured {
  width: 50%;
  padding: 3rem 2rem;
}

.featured-icon {
  font-size: 0.8rem;
  font-weight: 800;
}
.featured-title {
  font-size: 1.8rem;
  font-weight: 800;
}

.featured-desc {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-text {
  background-color: rgba(0, 180, 216, 0.8);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.left {
  height: 100vh;
  width: 50vw;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.info {
  color: var(--ascent);
  font-size: 2.8rem;
  font-weight: 600;
}

.input-master {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 0.8rem;
}

.input-container input {
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: black;
}

.input-container input:focus {
  outline: 1px solid var(--ascent);
  /* outline: none; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.signup {
  flex: 1;
  max-width: 50%;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--ascent);
  color: whitesmoke;
  border-radius: 2rem;
}

.right {
  height: 100vh;
  width: 50vw;
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #00b4d848, #00b4d825),
    url("./assets/root_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--ascent);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgb(237, 229, 255);
  font-size: 20rem;
}

.action {
  display: flex;
  flex-direction: column;
}

.action-button {
  text-decoration: none;
  color: var(--ascent);
  font-weight: 600;
}

.reg {
  flex-direction: row;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
}

.search input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgba(143, 143, 143, 0.3);
  width: 15rem;
}

.search input:focus {
  outline: 1px solid black;
}

.test {
  position: absolute;
  top: 3.4rem;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  gap: 0.5rem;
}

.x {
  width: 100%;
  height: 100vh;
}

.menu-item {
  cursor: pointer;
}
.menu-item:hover {
  color: var(--ascent);
}

.popular {
  height: fit-content;
  /* position: absolute; */
  /* bottom: 3rem; */
  display: flex;
  gap: 2rem;
  /* overflow-x: scroll;
  overflow-y: hidden; */
  margin-left: 3rem;
  animation: scroll 90s linear forwards;
  animation-delay: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  will-change: transform;
}
/* @keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-85%, 0, 0);
  }
} */

.card {
  flex-shrink: 0;
  width: 300px;
  height: 169px;
  border-radius: 2rem;
  /* padding: 1rem; */
  font-weight: 700;
  display: flex;
  align-items: end;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 2rem 0 2rem 2rem;
  padding: 0.5rem 1.4rem;
}

.test1 {
  height: 100vh;
}

.search-container {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  padding: 6rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 5.25rem;
}

a {
  text-decoration: none;
  color: white;
}

.movie-info {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.genres {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.genre-item {
  background-color: rgba(0, 0, 0, 0.521);
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.2s;
  cursor: pointer;
}

.genre-item:hover {
  font-weight: 700;
  transform: scale(1.1);
  transition: 0.2s;
}
.movie-card {
  width: 300px;
  height: 120px;
  border-radius: 1rem;
}

.movie-card[data-color="1"] {
  background: green !important;
}
